<form>
  <fieldset>
 	{{range $task := .}}

  		<div class="form-group row">
			<div class="col-sm-3">
				<input 
					type="checkbox" 
					{{ if $task.Done }} hx-post="/tasks/{{ $task.ID }}/todo" {{ end }}
				    {{ if not $task.Done }} hx-post="/tasks/{{ $task.ID }}/done" {{ end }}	
					hx-trigger="change" 
					hx-target="#todolist" 
					hx-swap="innerHTML"
					{{ if $task.Done }} checked {{ end }}	
				/>
			</div>
			<div class="col-sm-9" 
				{{ if $task.Done }} hx-post="/tasks/{{ $task.ID }}/todo" {{ end }}
				{{ if not $task.Done }} hx-post="/tasks/{{ $task.ID }}/done" {{ end }}	
				hx-target="#todolist"
				hx-target="#todolist" 
				hx-swap="innerHTML"
				>
				{{ $task.Title }}
			</div>
		</div>
	{{ end }}
	</fieldset>
	</form>