<form
  hx-post="/tasks"
  hx-trigger="submit"
  hx-target="#todolist"
  hx-swap="innerHTML"
>
  <fieldset>
    <legend>Add a new task</legend>
    <div class="form-group">
      <label for="title" class="form-label mt-4">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        aria-describedby="titleHelp"
        placeholder="Enter title"
      />
      <small id="titleHelp" class="form-text text-muted"
        >Short description of the task</small
      >
    </div>
    <div class="form-group">
      <label for="description" class="form-label mt-4">Description</label>
      <textarea
        class="form-control"
        id="description"
        name="description"
        rows="3"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="exampleSelect1" class="form-label mt-4">Depends On</label>
      <select class="form-select" id="dependsOn">
        <option value="0">No dependencies</option>
        {{range $task := .}}
        <option value="{{ $task.ID }}">{{ $task.Title }}</option>
        {{
          end
        }}
      </select>
    </div>
  </fieldset>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
