<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor02"
      aria-controls="navbarColor02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link {{ if eq .Page "home"}} active {{end}}" href="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ if eq .Page "tasks-mgmt"}} active {{end}}" href="/tasks/mgmt">Manage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ if eq .Page "tasks-tree"}} active {{end}}" href="/tasks/tree">Tree</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
