<div
  class="card mb-3 {{ if .IsDone }} border-success {{ else }} border-light {{
    end
  }}"
>
  <div class="card-header" style="height: 12px; padding: 0"></div>
  <div class="card-body">
    <h5 class="card-title">{{ .Title }}</h5>
    <h6 class="card-subtitle text-muted">Created {{ .AddedTimeAgo }}</h6>
  </div>
  <div class="card-body">
    <p class="card-text">{{ .Description }}</p>
  </div>
  <!-- Sub tasks
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  -->
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
  <div class="card-footer text-muted">
    {{ if .IsDone }}
    <span class="badge badge-success">Done {{ .DoneTimeAgo }}</span>
    <span class="badge badge-success">Took {{ .Took }}</span>
    {{ else }}
    <span class="badge badge-dark">Not done</span>
    {{ end }}
  </div>
</div>
